<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>primaryColor</key>
	<string>&quot;007cc3&quot;</string>
	<key>attSDKPrimaryButtonTextColor</key>
	<string>&quot;FFFFFF&quot;</string>
	<key>attSDKButtonDisabledTextColor</key>
	<string>&quot;FFFFFF&quot;</string>
	<key>attSDKSecondaryButtonBackgroundColor</key>
	<string>&quot;00000000&quot;</string>
	<key>attSDKSecondaryButtonTextColor</key>
	<string>&quot;D2D2D2&quot;</string>
	<key>attSDKSecondaryButtonBorderWidth</key>
	<real>1.5</real>
	<key>attSDKSecondaryButtonBorderColor</key>
	<string>&quot;FFFFFF&quot;</string>
	<key>attSDKButtonCurvature</key>
	<integer>2</integer>
	<key>attSDKTextPrimaryColor</key>
	<string>&quot;FFFFFF&quot;</string>
	<key>attSDKTextSecondaryColor</key>
	<string>&quot;dbdee2&quot;</string>
	<key>attSDKSelectedProductBackgroundColor</key>
	<string>&quot;1C2329&quot;</string>
	<key>attSDKDashboardWidgetBackgroundColor</key>
	<string>&quot;1C2329&quot;</string>
	<key>attSDKDashboardWidgetBorderColor</key>
	<string>&quot;1C2329&quot;</string>
	<key>attSDKBlockBackgroundColor</key>
	<string>&quot;1C2329&quot;</string>
	<key>attSDKBackgroundColor</key>
	<string>&quot;000000&quot;</string>
	<key>attSDKDashboardBackgroundColor</key>
	<string>&quot;000000&quot;</string>
	<key>attSDKDashboardHeaderBackgroundColor</key>
	<string>&quot;1C2329&quot;</string>
	<key>attSDKButtonHeight</key>
	<integer>46</integer>
	<key>attSDKPillButtonHeight</key>
	<integer>36</integer>
	<key>attSDKDashboardCardCornerRadius</key>
	<integer>2</integer>
	<key>attSDKDashboardCardShadowElevation</key>
	<real>1.5</real>
	<key>attSDKWidgetBackgroundColor</key>
	<string>&quot;1C2329&quot;</string>
	<key>attSDKWidgetBorderColor</key>
	<string>&quot;1c2329&quot;</string>
	<key>attSDKWidgetCardCornerRadius</key>
	<integer>2</integer>
	<key>attSDKWidgetCardShadowElevation</key>
	<real>1.5</real>
	<key>attSDKWidgetButtonCurvature</key>
	<integer>2</integer>
	<key>attSDKWidgetButtonHeight</key>
	<integer>46</integer>
	<key>attSDKWidgetTextPrimaryColor</key>
	<string>&quot;FFFFFF&quot;</string>
	<key>attSDKWidgetTextSecondaryColor</key>
	<string>&quot;dbdee2&quot;</string>
	<key>attSDKWidgetPrimaryButtonColor</key>
	<string>&quot;007cc3&quot;</string>
	<key>attSDKWidgetPrimaryButtonTextColor</key>
	<string>&quot;FFFFFF&quot;</string>
	<key>attSDKWidgetSecondaryButtonBackgroundColor</key>
	<string>&quot;00000000&quot;</string>
	<key>attSDKWidgetSecondaryButtonTextColor</key>
	<string>&quot;D2D2D2&quot;</string>
	<key>attSDKWidgetSecondaryButtonBorderWidth</key>
	<real>1.5</real>
	<key>attSDKWidgetSecondaryButtonBorderColor</key>
	<string>&quot;FFFFFF&quot;</string>
	<key>attSDKButtonDisabledBackgroundColor</key>
	<string>&quot;454B52&quot;</string>
	<key>attSDKWidgetVerticalPadding</key>
	<integer>10</integer>
	<key>attSDKWidgetHorizontalPadding</key>
	<integer>40</integer>
	<key>attSDKTextColorHint</key>
	<string>&quot;A9A9A9&quot;</string>
</dict>
</plist>
