<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>primaryColor</key>
	<string>&quot;000000&quot;</string>
	<key>attSDKPrimaryButtonTextColor</key>
	<string>&quot;FFFFFF&quot;</string>
	<key>attSDKButtonDisabledTextColor</key>
	<string>&quot;a9a9a9&quot;</string>
	<key>attSDKSecondaryButtonBackgroundColor</key>
	<string>&quot;00ff001C&quot;</string>
	<key>attSDKSecondaryButtonTextColor</key>
	<string>&quot;FFFFFF&quot;</string>
	<key>attSDKSecondaryButtonBorderWidth</key>
	<real>1.5</real>
	<key>attSDKSecondaryButtonBorderColor</key>
	<string>&quot;d2d2d2&quot;</string>
	<key>attSDKButtonCurvature</key>
	<integer>25</integer>
	<key>attSDKTextPrimaryColor</key>
	<string>&quot;FFFFFF&quot;</string>
	<key>attSDKTextSecondaryColor</key>
	<string>&quot;191919&quot;</string>
	<key>attSDKSelectedProductBackgroundColor</key>
	<string>&quot;A5DDF5&quot;</string>
	<key>attSDKDashboardWidgetBackgroundColor</key>
	<string>&quot;A5DDF5&quot;</string>
	<key>attSDKDashboardWidgetBorderColor</key>
	<string>&quot;1c2329&quot;</string>
	<key>attSDKBlockBackgroundColor</key>
	<string>&quot;1c2329&quot;</string>
	<key>attSDKBackgroundColor</key>
	<string>&quot;#000000&quot;</string>
	<key>attSDKButtonHeight</key>
	<integer>50</integer>
	<key>attSDKPillButtonHeight</key>
	<string>30</string>
	<key>attSDKDashboardCardCornerRadius</key>
	<integer>4</integer>
	<key>attSDKDashboardCardShadowElevation</key>
	<integer>2</integer>
	<key>attSDKWidgetBackgroundColor</key>
	<string>&quot;A5DDF5&quot;</string>
	<key>attSDKWidgetBorderColor</key>
	<string>&quot;1c2329&quot;</string>
	<key>attSDKWidgetCardCornerRadius</key>
	<integer>4</integer>
	<key>attSDKWidgetCardShadowElevation</key>
	<integer>4</integer>
	<key>attSDKWidgetButtonCurvature</key>
	<integer>25</integer>
	<key>attSDKWidgetButtonHeight</key>
	<integer>30</integer>
	<key>attSDKWidgetTextPrimaryColor</key>
	<string>&quot;FFFFFF&quot;</string>
	<key>attSDKWidgetTextSecondaryColor</key>
	<string>&quot;FFFFFF&quot;</string>
	<key>attSDKWidgetPrimaryButtonColor</key>
	<string>&quot;01abee&quot;</string>
	<key>attSDKWidgetPrimaryButtonTextColor</key>
	<string>&quot;FFFFFF&quot;</string>
	<key>attSDKWidgetSecondaryButtonBackgroundColor</key>
	<string>&quot;00ff001C&quot;</string>
	<key>attSDKWidgetSecondaryButtonTextColor</key>
	<string>&quot;FFFFFF&quot;</string>
	<key>attSDKWidgetSecondaryButtonBorderWidth</key>
	<real>1.5</real>
	<key>attSDKWidgetSecondaryButtonBorderColor</key>
	<string>&quot;E9E9E9&quot;</string>
	<key>attSDKButtonDisabledBackgroundColor</key>
	<string>&quot;EEEEEE&quot;</string>
	<key>attSDKWidgetVerticalPadding</key>
	<integer>10</integer>
	<key>attSDKWidgetHorizontalPadding</key>
	<integer>10</integer>
	<key>attSDKTextColorHint</key>
	<string>&quot;787878&quot;</string>
</dict>
</plist>
